= render "shared/email_header", title: t('.title')
%body{bgcolor: "#f6f6f6"}
  / body
  %table.body-wrap
    %tr
      %td
      %td.container{bgcolor: "#FFFFFF"}
        / content
        .content
          %table
            %tr
              %td
                %h1 [Team]mometer
                %p Здравствуйте, #{@user.name}! Спасибо за регистрацию на сервисе [Team]mometer.
                %p Для того чтобы войти в свой аккуант его нужно активировать.
                %table
                  %tr
                    %td.padding
                      %p
                        %a.btn-primary{href: confirm_user_url(id: @user.confirmation_token)} Активироать аккаунт
                %p С уважением, Администрация сайта.
        / /content
      %td
