%h1 Web::Companies#new
= simple_form_for @company_form do |f|
  = f.input :name
  = f.simple_fields_for :users do |user|
    = user.input :name
    = user.input :email
    = user.input :password
    = user.input :password_confirmation
  = f.submit
