!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Team Mometer'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Team Mometer'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      -# = render 'layouts/navigation'
    %main{:role => "main"}
      = flash_messages(:close, :fade)
      = yield
